<div class="col-sm-12">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-success btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="jumbotron">
    <h1>S.A.S</h1>
    <h2>System aid student</h2>
    <p>O Sistema de Gerenciamento de Auxílio Estudantis é um software desenvolvido com o objetivo de controlar todo o processo de requerimentos de auxílios ofertados e a geração de relatórios do desempenho de pagamentos realizados de forma prática e segura...</p>
    <a href="#" class="btn btn-success btn-large">Saiba mais »</a>
  </div>
</div>
