<form method="get" action="<%= print_report_path %>">

    <div class="row">
	<div class="col-md-7 col-md-offset-3">
		<form class="form-horizontal" role="form" method="post" >
			<fieldset>
			 	<center><legend>Relatório Geral </legend></center>
			 		
				 	<div class="form-group">
			 			<div class="form-group">
					        <label class="col-sm-2 control-label" for="textinput">Data Inicial</label>
					        <div class="col-sm-10">
					            <input class="form-control" type="date" name= "dti" id= "dia">
					        </div>
					    </div>
					</div>

					<div class="form-group">
			 			<div class="form-group">
					        <label class="col-sm-2 control-label" for="textinput">Data Final</label>
					        <div class="col-sm-10">
					            <input class="form-control" type="date" name= "dtf" id= "dia">
					        </div>
					    </div>
					</div>
					<div class="modal-footer">
				       	<button type="submit" class="btn btn-primary "> Gerar </button>
				  	</div>
				  	</div>
			</fieldset>
        <div class="form-group">
      <div class="col-sm-3 ">
          <%= select_tag "type", options_for_select([[" Estudantes", 1], ["Pagamentos", 2]], params[:type]), class: "form-control col-sm-3" %>
      </div>
    </div>
        
  
        
		</form>
	</div>
</form>
